#helpPane {
	position: absolute;
	height: 360px;
	width: 1060px;
	top: 50px;
	left: 50px;
	z-index: 9000;
	background: black;
	border: 2px solid yellow;
}

#helpPane .helpPaneSidebar {
	float: left;
	width: 80px;
	height: 360px;
	background: rgb(27, 90, 158);
}

#helpPane .helpPaneSidebar .helpPaneTitle {
	margin-top: 15px;
	text-align: center;
	color: yellow;
}

#helpPane .helpPaneSidebar li {
	cursor: pointer;
	width: 70px;
	list-style: none;
	margin-left: -40px;
	border-top: 1px solid white;
	padding: 5px;
}

.helpPaneSidebar li.selected {
	background-color: rgb(22, 62, 105);
}

.helpPaneSidebar li:hover {
	background: white;
	color: rgb(27, 90, 158);
}

.helpPaneSidebar li:last-child {
	border-bottom: 1px solid white;
}

#helpPane #helpPaneContent {
	float: left;
	width: 864px;
	height: 320px;
	padding: 20px;
	overflow-y: auto;
}

#helpPane #helpPaneContent .command {
	margin-bottom: 1em;
}

#helpPane #helpPaneContent .commandTitle {
	font-size: 1.2em;
	font-weight: bold;
	color: yellow;
	margin-bottom: 4px;
}

#helpPane #helpPaneContent .commandDescription a {
	text-decoration: underline;
	cursor: pointer;
}

#helpPane #helpPaneCloseButton {
	float: left;
	width: 10px;
	border-bottom: 2px solid yellow;
	border-left: 2px solid yellow;
	padding-left: 3px;
	padding-right: 1px;
	padding-bottom: 2px;
	cursor: pointer;
}

#helpPane #helpPaneCloseButton:hover {
	background: yellow;
	color: black;
}